.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height:100vh;
}
.hero img{
    margin-top: 15vh;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    object-fit: cover;
    border: white solid 5px;
    box-shadow: 0px 0px 20px 5px white;
}

.hero h1{
    text-align: center;
    size: 30%;
    font-size: 60px;
    color: white;
    font-family: "Archivo Black", sans-serif;
}

.about{
    text-align: center;
    font-size: 15px;
    color: white;
    width: 50vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-family: "Press Start 2P", system-ui;
}

.about p{
    margin-top: 1.5vh;
}

.heroButtons{
    display: flex;
    align-items: center;
    font-size:22px;
    font-family: "Press Start 2P", system-ui;
    width: 30vw;
    height: 15vh;
    gap: 3.5vw;
    padding-left: 1vw;
}

.heroButtons img{
    width: 4vw;
    border-radius: 0%;
    margin-top: 0px;
}

.LIButton {
    border: 5px solid black;
    width: 4vw;
    height: 4vw;
    align-items: center;
    display: flex;
    background-color: white;
    text-align: center;
    justify-content: center;
    transition: 0.1s;
}

.emailButton{
    border: 5px solid black;
    width: 4vw;
    height: 4vw;
    background-image: url("../../Assets/emailLogo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    image-rendering: pixelated;
    transition: 0.1s;
}

.resumeButton{
    border: 5px solid black;
    width: 4vw;
    height: 4vw;
    background-image: url("../../Assets/resumeLogo.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    image-rendering: pixelated;
    transition: 0.1s;
}

.githubButton{
    border: 5px solid black;
    width: 4vw;
    height: 4vw;
    background-image: url("../../Assets/githubLogo.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    image-rendering: pixelated;
    transition: 0.1s;
}

.emailButton:hover, .resumeButton:hover, .githubButton:hover, .LIButton:hover{
    width: 6vw;
    height: 6vw;
    margin-top: -1vw;
}
