.page{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height:100vh;
    margin-top: -25vh;
}

.page h1{
    /*border: green solid 2px;*/
    color: white;
    text-align: left;
    font-size:35px;
    font-family: "Press Start 2P", system-ui;
    gap: 3.5vw;
    padding-left: 20vw;
    padding-top: 10vh;
    width: 100%;
}

.experiences{
    border: white 2px solid;
    margin-top: 5vw;
    height: 50vh;
    width: 25vw;
    align-items: center;
    display: flex;
    box-shadow: 0px 0px 10px 2px white;
    overflow: auto;
    border-radius: 3%;
    background-color: rgba(255, 255, 255, 0.7);
    flex-direction: column;
}

.experiences h2{
    padding-top: 5vh;
    color: black;
    font-size:20px;
    font-family: "Press Start 2P", system-ui;
}

.experiences p{
    padding-top: 1vh;
    color: black;
    font-size:8px;
    font-family: "Press Start 2P", system-ui;
    margin-left: 2vw;
    margin-right: 2vw;
    line-height: 1.5;
}


.role{
    text-align: left;
}

.role p{
    padding-top: 0;
    color: black;
    font-size:8px;
    font-family: "Press Start 2P", system-ui;
    margin-left: 1vw;
    margin-right: 1vw;
    line-height: 1.5;
}

.role li{
    padding-top: 0vh;
    color: black;
    font-size:8px;
    font-family: "Press Start 2P", system-ui;
    margin-left: 2vw;
    margin-right: 1vw;
    line-height: 1.5;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1vw;
}

.arrow{
   margin-top: 2vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 5vw;
    height:8vh;
}

.arrow img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    image-rendering: pixelated;
    filter: invert(1);
    width: 4vw;
    height: 7vh;
    transition: 0.1s;
}
.arrow img:hover{
    width: 6vw;
    height:9vh;
}

.arrow img:active{
    opacity: 50%;
}

#left{
    transform: rotate(90deg);
}

#right{
    transform: rotate(-90deg);
    margin-left: 1vw;
}
