.custom-cursor {
    position: fixed;
    width: 30px;
    height: 30px;
    pointer-events: none; 
    z-index: 9999;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}


.cursor-image {
  width: 100px;
  height: 100px;
  transform-origin:center;
  margin-top: -5vh;
  filter: drop-shadow(0 -50px 40px rgba(226, 255, 82, 0.8));
}