::-webkit-scrollbar {
  display: none;
}

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.main{
  height: 100vh;
  position: relative;
}
.background{
  width: 100vw;
  height:100vh;
  background-image: url("./Assets/nightsky.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  image-rendering: pixelated;
  position: fixed;
  z-index: -2;
  padding: 0;
  margin: 0;
}